/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("../fonts/gsk.ttf");

/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --yellow-color: 20; /* Primary  color */
  --green-color: 150; /* Secondary  color */
  --purple-color: 240; /* Tertiary   color */
  --pink-color: 320; /* Quaternary  color */
  --black-color: #252525;
  --white-color: #f2f2f2;

  /* HSL color mode */
  --primary-color: hsl(var(--yellow-color), 69%, 61%);
  --primary-color-alt: hsl(var(--yellow-color), 57%, 53%);
  --primary-color-lighter: hsl(var(--yellow-color), 92%, 85%);

  --secondary-color: hsl(var(--green-color), 69%, 61%);
  --secondary-color-alt: hsl(var(--green-color), 57%, 53%);
  --secondary-color-lighter: hsl(var(--green-color), 92%, 85%);

  --tertiary-color: hsl(var(--purple-color), 69%, 61%);
  --tertiary-color-alt: hsl(var(--purple-color), 57%, 53%);
  --tertiary-color-lighter: hsl(var(--purple-color), 92%, 85%);

  --quaternary-color: hsl(var(--pink-color), 69%, 61%);
  --quaternary-color-alt: hsl(var(--pink-color), 57%, 53%);
  --quaternary-color-lighter: hsl(var(--pink-color), 92%, 85%);

  /*========== Default Colors ==========*/
  --hue-color: 150;

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);

  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --containment-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

  /*========== Font and typography ==========*/
  --body-font: "Roboto", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ....*/
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, 5rem = 8px, .75rem = 12px ....*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== Z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.containment {
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*==================== COLORS ====================*/
/*================= PRIMARY =================*/
.color__primary {
  color: var(--primary-color);
}

.color__primary-alt {
  color: var(--primary-color-alt);
}

.color__primary-lighter {
  color: var(--primary-color-lighter);
}

.bg-color__primary {
  background-color: var(--primary-color);
}

.bg-color__primary-alt {
  background-color: var(--primary-color-alt);
}

.bg-color__primary-lighter {
  background-color: var(--primary-color-lighter);
}

/*================= SECONDARY =================*/
.color__secondary {
  color: var(--secondary-color);
}

.color__secondary-alt {
  color: var(--secondary-color-alt);
}

.color__secondary-lighter {
  color: var(--secondary-color-lighter);
}

.bg-color__secondary {
  background-color: var(--secondary-color);
}

.bg-color__secondary-alt {
  background-color: var(--secondary-color-alt);
}

.bg-color__secondary-lighter {
  background-color: var(--secondary-color-lighter);
}

/*================= TERTIARY =================*/
.color__tertiary {
  color: var(--tertiary-color);
}

.color__tertiary-alt {
  color: var(--tertiary-color-alt);
}

.color__tertiary-lighter {
  color: var(--tertiary-color-lighter);
}

.bg-color__tertiary {
  background-color: var(--tertiary-color);
}

.bg-color__tertiary-alt {
  background-color: var(--tertiary-color-alt);
}

.bg-color__tertiary-lighter {
  background-color: var(--tertiary-color-lighter);
}

/*================= QUARTENARY =================*/
.color__quarternary {
  color: var(--quarternary-color);
}

.color__quarternary-alt {
  color: var(--quarternary-color-alt);
}

.color__quarternary-lighter {
  color: var(--quarternary-color-lighter);
}

.bg-color__quarternary {
  background-color: var(--quarternary-color);
}

.bg-color__quarternary-alt {
  background-color: var(--quarternary-color-alt);
}

.bg-color__quarternary-lighter {
  background-color: var(--quarternary-color-lighter);
}

/*==================== ACCORDIONS ====================*/
.accordions__containment {
  row-gap: 0rem;
}

.accordions__header {
  display: flex;
  cursor: pointer;
  border-radius: 15px;
  align-items: center;
  padding: var(--mb-0-5);
  margin-bottom: var(--mb-1-5);
}

.accordions__icon,
.accordions__arrow {
  font-size: 2rem;
}

.accordions__icon {
  margin-right: var(--mb-0-75);
}

.accordions__title {
  font-size: var(--h3-font-size);
}

.accordions__subtitle {
  font-size: var(--small-font-size);
}

.accordions__arrow {
  margin-left: auto;
  transition: 0.4s;
}

.accordions__list {
  row-gap: 1.5rem;
}

.accordions__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}

.accordions__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
}

.accordions__close .accordions__list {
  height: 0;
  overflow: hidden;
}

.accordions__open .accordions__list {
  height: max-content;
  margin-bottom: var(--mb-2-5);
}

.accordions__open .accordions__arrow {
  transform: rotate(-180deg);
}

/*==================== SCROLL BAR ====================*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/*==================== MODILE ====================*/
@media (min-width: 579px) and (max-width: 769px) {
  .carousel-inner {
    position: relative;
    max-width: 600px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .carousel-inner {
    position: relative;
    max-width: 600px;
  }
}

@media (max-width: 992px) {
  /*==================== PAPERS ====================*/
  .wrapper {
    display: none;
  }

  .carousel-all {
    display: flex;
  }

  .carousel-bg span {
    border-radius: 25%;
    padding: var(--mb-1);
  }
}

/*==================== DESKTOP ====================*/
@media (min-width: 992px) {
  .carousel-all {
    display: none;
  }

  /*==================== PAPERS ====================*/
  .wrapper {
    width: 100%;
    display: flex;
  }

  .paper-containment {
    width: 100%;
    height: 300px;
    display: flex;
  }

  /*===================== PAPER CLOSE ====================*/
  .paper {
    width: 80px;
    display: flex;
    margin: 0 10px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    align-items: flex-end;
    background-size: cover;
    border-radius: 0.75rem;
    transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
  }

  .paper a {
    text-decoration: none;
  }

  .paper-row {
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    position: relative;
    background-color: var(--white-color);
    border-top: 2px dotted var(--black-color);
  }

  .paper_bg {
    z-index: 1;
    top: -75px;
    right: -75px;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    position: absolute;
    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  }

  .paper-row:hover .paper_bg {
    transform: scale(10);
    -ms-transform: scale(10);
    -webkit-transform: scale(10);
  }

  .paper-icon {
    z-index: 2;
    width: 50px;
    margin: 15px;
    display: flex;
    color: white;
    font-weight: 600;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: var(--h3-font-size);
    border: 1px solid var(--black-color);
  }

  .paper-description {
    opacity: 0;
    z-index: 2;
    height: 80px;
    width: 520px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    transition-delay: 0.3s;
    justify-content: center;
    transition: all 0.3s ease;
    transform: translateY(30px);
  }

  .paper-description h4 {
    margin-bottom: 0;
    font-weight: 600;
    color: var(--black-color);
    text-transform: capitalize;
    text-decoration: underline;
    font-family: "Gill Sans MT";
  }

  .paper-description p {
    margin-bottom: 0;
    padding-top: 5px;
    font-weight: 400;
    text-decoration: none;
    color: var(--black-color);
    font-family: "Gill Sans MT";
  }

  input {
    display: none;
  }

  /*===================== PAPER OPEN ====================*/

  input:checked + label {
    width: 600px;
  }

  input:checked + label .paper-description {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }

  .paper[for="c1"] {
    background-image: url("../img/pattern-shapes.jpeg");
  }

  .paper[for="c2"] {
    background-image: url("../img/chicken-dance.png");
  }

  .paper[for="c3"] {
    background-image: url("../img/pattern-superhero.png");
  }

  .paper[for="c4"] {
    background-image: url("../img/get-patterns.png");
  }
}
